<h1>Sessions#home</h1>
<h2 class='User_Header'> <%=@current_user.username%> Profile <h2>
<p>Find me in app/views/sessions/home,.html.erb</p>
  <%= form_tag(:action => 'logout') do %>
    <%= submit_tag("Log Out") %>
  <% end %>