<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @detail_level.name %>
</p>

<%= link_to 'Edit', edit_detail_level_path(@detail_level) %> |
<%= link_to 'Back', detail_levels_path %>
