
<head>

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

</head>
<h1>Editing user_has_viewing_preference</h1>

<%= render 'form' %>

<%= link_to 'Show', @user_has_viewing_preference %> |
<%= link_to 'Back', user_has_viewing_preferences_path %>
