<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @storyline_tag.name %>
</p>

<%= link_to 'Edit', edit_storyline_tag_path(@storyline_tag) %> |
<%= link_to 'Back', storyline_tags_path %>
