// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #DDD
}

div {
	padding:1px;
}


.group_content{
	margin-left:2em;
	width: 70%;
	float: right;
}

.group_content_title{
	margin-left:1em;
	width: 70%;
	float: right;
}

.group_content_image{
	margin-left:2em;
	width: 70%;
	float: right;
}

.group_attributes{
	position: relative;
	width: 20%;
	float: left;
	left:-20px;
}

 summary::-webkit-details-marker {
 color: #000;
 font-size: 125%;
 margin-right: 2px;
}

summary:focus {
	outline-style: none;
}

img{
	max-width: 100%; height: auto;
}

p{
	font-family: 'EB Garamond', serif;
}

h3{
	font-family: 'EB Garamond', serif;
}

.storytag{
	text-transform: lowercase;
	font-size: 75%;
	color: grey;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 2px;
}

.characterIcon{
	border-radius: 5px;
	max-height: 25px;
	margin-top: 2px;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
     position: relative;
  top: 50%;
  transform: translateY(0%);
}

div#header-fixed {position:fixed; top:0px; margin:auto; z-index:100000; width:100%;
	background-color: white;}

span#profile{
	float: right;
	padding-right:1em;
}


.content-container
{
	position: fixed;
	left:0px;
	max-height: 69%;
	overflow: auto;
	max-width: 675px;
	height:600px;
	padding: 50px;
	margin: 0 auto;
}

.box0
{
	position: fixed;
	max-height: 69%;
	width: 175px;
	height:698px;
	margin: 0 auto;
	padding: 50px;
	left:0;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box
{
	position: fixed;
	left:175px;
	max-height: 69%;
	overflow: auto;
	width: 500px;
	height:600px;
	padding: 50px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

