// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: 'EB Garamond', serif;
}


ul{
	list-style-type: none;
}
li{
	font-family: 'EB Garamond', serif;
	font-size: 145%;
}

div#background{
	background-image: url('http://images.123hdwallpapers.com/20150601/light-cloud-background-1920x1200.jpg');
	opacity: .3;
	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:-1;
	position:absolute;
}

div#main{
	z-index:9999;
	opacity:1;
	position:absolute;
}



.group_content_text{
	margin-left:2em;
	padding-left:5em;
	width: 68%;
	float: right;
	margin-right:4em;
}

.group_content_title{
	margin-left:1em;
	width: 68%;
	float: right;
	margin-right:4em;
}

.group_content_image{
	margin-left:2em;
	width: 68%;
	float: right;
	margin-right:4em;
}

.group_attributes{
	position: relative;
	float: left;
}

summary:focus {
	outline-style: none;
}

img{
	max-width: 100%; height: auto;
}


p{
	font-family: 'EB Garamond', serif;
	font-size: 125%;
}

h2{
	font-family: 'EB Garamond', serif;
}

.storytag{
	text-transform: lowercase;
	font-size: 100%;
	color: grey;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 2px;
}

.characterIcon{
	border-radius: 5px;
	max-height: 25px;
	margin-top: 2px;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
     position: relative;
  top: 50%;
  transform: translateY(0%);
}

div#header-fixed {position:fixed; top:0px; margin:auto; z-index:100000; width:100%;
	font-size: 125%;
	}

span#profile{
	float: right;
	padding-right:1em;
}


.content-container
{
	position: fixed;
	left:16%;
	width: 64.5%;
	max-height: 89.9%;
	overflow-y: scroll;
	margin-right:2em;

	height:898px;
	margin: 0 auto;
}

.box0
{
	position: fixed;
	max-height: 90%;
	width: 15%;
	height:898px;
	margin: 0 auto;
	right:70%;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.box
{
	position: fixed;
	left:30%;
	max-height: 90%;
	overflow: auto;
	width: 50%;
	height:898px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

